vti_encoding:SR|utf8-nl
vti_author:SR|COMPUTER\\Steve Meyer
vti_modifiedby:SR|COMPUTER\\Steve Meyer
vti_timelastmodified:TR|03 Jan 2005 00:27:17 -0000
vti_timecreated:TR|02 Jan 2005 23:44:32 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TR|02 Jan 2005 23:44:32 -0000
vti_cacheddtm:TX|02 Jan 2005 23:44:32 -0000
vti_filesize:IR|5555
vti_cachedlinkinfo:VX|S|artbannd.gif S|artnvhnd.gif S|artnvhsd.gif S|arthomed.gif S|artnextd.gif S|artprevd.gif S|artupbtd.gif S|artnavgl.gif S|artnvvnd.gif S|artnvvsd.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/copy-of-artsy1/artbannd.gif FSUS|_themes/copy-of-artsy1/artnvhnd.gif FSUS|_themes/copy-of-artsy1/artnvhsd.gif FSUS|_themes/copy-of-artsy1/arthomed.gif FSUS|_themes/copy-of-artsy1/artnextd.gif FSUS|_themes/copy-of-artsy1/artprevd.gif FSUS|_themes/copy-of-artsy1/artupbtd.gif FSUS|_themes/copy-of-artsy1/artnavgl.gif FSUS|_themes/copy-of-artsy1/artnvvnd.gif FSUS|_themes/copy-of-artsy1/artnvvsd.gif
