.mstheme
{
	separator-image: url(arthsepa.gif);
	list-image-1: url(artbul1a.gif);
	list-image-2: url(artbul2a.gif);
	list-image-3: url(artbul3a.gif);
	nav-banner-image: url(artbanna.gif);
	navbutton-horiz-normal: url(artnvhna.gif);
	navbutton-horiz-hovered: url(artnvhha.gif);
	navbutton-horiz-pushed: url(artnvhsa.gif);
	navbutton-vert-normal: url(artnvvna.gif);
	navbutton-vert-hovered: url(artnvvha.gif);
	navbutton-vert-pushed: url(artnvvsa.gif);
	navbutton-home-normal: url(arthomna.gif);
	navbutton-home-hovered: url(arthomha.gif);
	navbutton-home-pushed: url(arthomsa.gif);
	navbutton-next-normal: url(artnexna.gif);
	navbutton-next-hovered: url(artnexha.gif);
	navbutton-next-pushed: url(artnexsa.gif);
	navbutton-prev-normal: url(artprena.gif);
	navbutton-prev-hovered: url(artpreha.gif);
	navbutton-prev-pushed: url(artpresa.gif);
	navbutton-up-normal: url(artupbna.gif);
	navbutton-up-hovered: url(artupbha.gif);
	navbutton-up-pushed: url(artupbsa.gif);
}
.mstheme-bannertxt
{
	font-family: Book Antiqua, Times New Roman, Times;
	color: rgb(255, 255, 153);
	font-size: 6;
	font-style: normal;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
}
.mstheme-horiz-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 153);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-vert-navtxt
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 153);
	font-size: 2;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxthome
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 153);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtnext
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 153);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtprev
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 153);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
.mstheme-navtxtup
{
	font-family: Arial, Helvetica;
	color: rgb(255, 255, 153);
	font-size: 1;
	font-style: normal;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}
ul
{
	list-style-image: url(artbul1a.gif);
}
ul ul
{
	list-style-image: url(artbul2a.gif);
}
ul ul ul
{
	list-style-image: url(artbul3a.gif);
}
a:link
{
	color: rgb(255, 204, 0);
}
a:active
{
	color: rgb(102, 153, 51);
}
a:visited
{
	color: rgb(0, 255, 0);
}
body
{
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
}
table
{
	table-border-color-light: rgb(153, 153, 102);
	table-border-color-dark: rgb(153, 153, 102);
	border-color: rgb(153, 153, 102);
}
th
{
	border-color: rgb(153, 153, 102);
}
td
{
	border-color: rgb(153, 153, 102);
}
h1
{
	color: rgb(255, 204, 0);
}
h2
{
	color: rgb(0, 255, 0);
}
h3
{
	color: rgb(204, 51, 153);
}
h4
{
	color: rgb(0, 0, 0);
}
h5
{
	color: rgb(255, 153, 51);
}
h6
{
	color: rgb(204, 51, 153);
}
hr
{
	color: rgb(255, 153, 51);
}
button
{
	background-color: rgb(255, 204, 0);
	color: rgb(0, 0, 11);
}
label
{
}
.mstheme-text
{
}
textarea
{
	color: rgb(0, 0, 0);
}
fieldset
{
	color: rgb(0, 0, 0);
}
legend
{
	color: rgb(204, 51, 153);
}
select
{
	color: rgb(0, 0, 0);
}
caption
{
	color: rgb(204, 51, 153);
}
.mstheme
{
	top-bar-button: url(artnavgl.gif);
	navbutton-background-color: rgb(51,51,51);
}
.mstheme-topbar-font
{
	font-size: 8pt;
	font-family: Arial, Helvetica;
	color: rgb(255,255,204);
}
body
{
	font-family: Arial, Helvetica;
}
button
{
	border-top-style: solid;
	border-bottom-width: 1pt;
	font-size: 8pt;
	border-left-width: 1pt;
	border-top-width: 1pt;
	border-right-width: 1pt;
	font-family: Arial, Helvetica;
	font-style: bold;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}
caption
{
	font-size: 14pt;
	font-style: normal;
	font-family: Arial, Helvetica;
}
fieldset
{
	border-right-width: 1pt;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	border-top-width: 1pt;
	font-size: 8pt;
	font-family: Arial, Helvetica;
	border-left-width: 1pt;
	border-right-style: solid;
	font-style: normal;
}
h1
{
	font-family: Arial, Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 24pt;
}
h2
{
	font-style: normal;
	font-weight: normal;
	font-size: 18pt;
	font-family: Arial, Helvetica;
}
h3
{
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica;
	font-size: 14pt;
}
h4
{
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica;
}
h5
{
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica;
	font-size: 10pt;
}
h6
{
	font-family: Arial, Helvetica;
	font-size: 8pt;
	font-weight: normal;
	font-style: normal;
}
label, .mstheme-label
{
	font-size: 8pt;
	font-style: bold;
	font-family: Arial, Helvetica;
}
legend
{
	font-style: normal;
	font-family: Arial;
	font-size: 8pt;
}
marquee
{
	font-size: 14pt;
	font-family: Arial, Helvetica;
}
select
{
	border-style: solid;
				font-style: normal;
					font-size: 8pt;
					font-family: Arial, Helvetica;
}
table
{
	font-style: normal;
	font-family: Arial, Helvetica;
}
textarea
{
	border-style: solid;
				font-style: normal;
					font-size: 8pt;
					font-family: Arial, Helvetica;
	}
th
{
	font-family: Arial, Helvetica;
	font-style: normal;
}
