.mstheme
{
	top-bar-button: url(artnavgl.gif);
	navbutton-background-color: rgb(51,51,51);
}
.mstheme-topbar-font
{
	font-size: 8pt;
	font-family: Arial, Helvetica;
	color: rgb(255,255,204);
}
body
{
	font-family: Arial, Helvetica;
}
button
{
	border-top-style: solid;
	border-bottom-width: 1pt;
	font-size: 8pt;
	border-left-width: 1pt;
	border-top-width: 1pt;
	border-right-width: 1pt;
	font-family: Arial, Helvetica;
	font-style: bold;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
}
caption
{
	font-size: 14pt;
	font-style: normal;
	font-family: Arial, Helvetica;
}
fieldset
{
	border-right-width: 1pt;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-width: 1pt;
	border-top-width: 1pt;
	font-size: 8pt;
	font-family: Arial, Helvetica;
	border-left-width: 1pt;
	border-right-style: solid;
	font-style: normal;
}
h1
{
	font-family: Arial, Helvetica;
	font-style: normal;
	font-weight: normal;
	font-size: 24pt;
}
h2
{
	font-style: normal;
	font-weight: normal;
	font-size: 18pt;
	font-family: Arial, Helvetica;
}
h3
{
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica;
	font-size: 14pt;
}
h4
{
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica;
}
h5
{
	font-weight: normal;
	font-style: normal;
	font-family: Arial, Helvetica;
	font-size: 10pt;
}
h6
{
	font-family: Arial, Helvetica;
	font-size: 8pt;
	font-weight: normal;
	font-style: normal;
}
label, .mstheme-label
{
	font-size: 8pt;
	font-style: bold;
	font-family: Arial, Helvetica;
}
legend
{
	font-style: normal;
	font-family: Arial;
	font-size: 8pt;
}
marquee
{
	font-size: 14pt;
	font-family: Arial, Helvetica;
}
select
{
	border-left-style: solid;
	border-bottom-width: 1pt;
	font-style: normal;
	border-right-style: solid;
	font-size: 8pt;
	border-left-width: 1pt;
	border-top-style: solid;
	border-right-width: 1pt;
	border-bottom-style: solid;
	border-top-width: 1pt;
	font-family: Arial, Helvetica;
}
table
{
	font-style: normal;
	font-family: Arial, Helvetica;
}
textarea
{
	border-left-width: 1pt;
	font-style: normal;
	border-right-width: 1pt;
	font-size: 8pt;
	border-top-style: solid;
	border-bottom-style: solid;
	font-family: Arial, Helvetica;
	border-left-style: solid;
	border-top-width: 1pt;
	border-bottom-width: 1pt;
	border-right-style: solid;
}
th
{
	font-family: Arial, Helvetica;
	font-style: normal;
}
