vti_encoding:SR|utf8-nl
vti_author:SR|COMPUTER\\Steve Meyer
vti_modifiedby:SR|COMPUTER\\Steve Meyer
vti_timelastmodified:TR|03 Jan 2005 00:27:54 -0000
vti_timecreated:TR|03 Jan 2005 00:27:54 -0000
vti_cacheddtm:TX|03 Jan 2005 00:27:54 -0000
vti_filesize:IR|1005
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|
